@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.tab-body {
    display: none;
}
.tab-body.active {
    display: block;
}*/
body {
    background: #010314;
}
header {
    font-weight: 600;
}
/*#####################################
#######################################

            REGISTER PAGE

#######################################
#####################################*/

/* class for small text */
.is-invalid {
    color: red;
    font-size: 12px;
    max-width: 232px;
}
.is-valid {
    color: green;
    font-size: 12px;
}

.alert-success {
    color: green;
    background: #0080001c;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.alert-danger {
    color: red;
    background: #ff00001c;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
/*#####################################
#######################################

            PROFIL PAGE

#######################################
#####################################*/
#ProfilFontPage {
    font-family: 'Roboto', sans-serif;
}
#curveBgProfil {
    background: radial-gradient(140% 107.13% at 50% 10%,transparent 37.41%,#63e 69.27%,#fff 100%);
    border-radius: 2.4rem;
}
#containerFormProfil {
    border-radius: 1.6em;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.5),0 30px 60px -30px rgba(0,0,0,.35),inset 0 -2px 6px 0 rgba(10,37,64,.4);
}
#imgProfil {
    box-shadow: 0 6px 12px #babcd2;
}
/*#####################################
#######################################

            COMMENT PAGE  CSS

#######################################
#####################################*/
#DisplayTitleComment {
    font-family: 'Roboto', sans-serif;
}
#containerBgComment {
    background: radial-gradient(140% 107.13% at 50% 90%,transparent 37.41%,#63e 69.27%,#fff 100%);
    border-radius: 2.4rem;
}
#displayCommentList, #register-form {
    background: linear-gradient(135deg, #010314,transparent);
}

textarea {
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    background: hsla(0,0%,100%,.15);
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
/*#####################################
#######################################

            INDEX PAGE CSS

#######################################
#####################################*/
#register-form {
    box-shadow: 0 0 0 2px rgba(0,0,0,.05),0 0 0 1px hsla(0,0%,100%,.1),inset 0 .5px 0 hsla(0,0%,100%,.5);
}
#iconContainerIndex {
    box-shadow: 0 0 0 2px rgba(0,0,0,.05),0 0 0 1px hsla(0,0%,100%,.1),inset 0 .5px 0 hsla(0,0%,100%,.5);
    background: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
    color : #fff;
}